.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 400px;
  background: #e1e1e1;
  font-size: 2em;
  overflow: hidden;
}

#aboutContainer {
  display: flex;
}

#aboutContainer>div {
  width: 50%;
}

#aboutContainer img {
  width: 60%;
}

#photoContainer div {
  font-size: 50px;
}

#photoContainer div i:first-child {
  margin-right: 40px;
  margin-left: 20px;
}