#header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 30px 20px;
}

#buttonContainer {
  width: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: right;
}